openapi: 3.0.0
info:
  title: ICFPC2023
  description: ICFP Programming Contest 2023
  version: 1.0.0
servers:
  - url: https://api.icfpcontest.com/
    description: the server

paths:
  /submission:
    get:
      tags:
        - submission
      summary: "Get submission with ID. You can only get submissions linked to your account."
      description: "Get submission with ID. You can only get submissions linked to your account."
      parameters:
        - name: submission-id
          in: query
          required: true
          schema:
            type: string
      security:
        - Bearer: []
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'
    post:
      tags:
        - submission
      summary: "Post submission with contents and problem id."
      description: "Post submission with contents and problem id."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionRequest'
      security:
        - Bearer: []
      responses:
        "200":
          description: hoge
          content:
            text/plain:
              example: hoge

  /submissions:
    get:
      tags:
        - submission
      summary: "Get [limit] number of your past submissions starting from a given [offset], sorted by submission time."
      description: "Get [limit] number of your past submissions starting from a given [offset], sorted by submission time."
      parameters:
        - name: offset
          in: query
          required: true
          schema:
            type: integer
        - name: limit
          in: query
          required: true
          schema:
            type: integer
        - name: problem_id
          in: query
          required: false
          schema:
            type: integer
      security:
        - Bearer: []
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionsResponse'

  /problem:
    get:
      tags:
        - problem
      summary: "Get problems contents with problem id."
      description: "Get problems contents with problem id."
      parameters:
        - name: problem_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemResponse'

  /problems:
    get:
      tags:
        - problem
      summary: "Get number of problems."
      description: "Get number of problems."
      parameters: []
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemsResponse'

  /scoreboard:
    get:
      tags:
        - scoreboard
      summary: "Get the global scoreboard."
      description: "Get the global scoreboard."
      parameters: []
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scoreboard'

  /userboard:
    get:
      tags:
        - scoreboard
      summary: "Get the global scoreboard."
      description: "Get the global scoreboard."
      parameters: []
      security:
        - Bearer: []
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserboardResponse'

  /register:
    post:
      tags:
        - account
      summary: "Register your account to the contest."
      description: "Register your account to the contest."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'

  /login:
    post:
      tags:
        - account
      summary: "Login with your account"
      description: "Login with your account"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        "200":
          description: hoge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'


components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: Credentials or access token for API

  schemas:
    Failure:
      type: object
      properties:
        Failure:
          type: string
          description: failure message
      required:
        - Failure
      description: failure message

    SubmissionResponse:
      oneOf:
        - $ref: '#/components/schemas/SubmissionResponseSuccess'
        - $ref: '#/components/schemas/Failure'
      description: submission
    SubmissionResponseSuccess:
      type: object
      properties:
        Success:
          $ref: '#/components/schemas/Submission'
          description: submission
      required:
        - Success
      description: submission get success
    Submission:
      type: object
      properties:
        _id:
          type: string
          description: submission id
        problem_id:
          type: integer
          description: problem id
        user_id:
          type: string
          description: user id
        score:
          $ref: '#/components/schemas/Score'
          description: score
      required:
        - _id
        - problem_id
        - user_id
        - score
      description: submission
    Score:
      description: submission result from judge
      oneOf:
        - $ref: '#/components/schemas/ScoreProcessing'
        - $ref: '#/components/schemas/ScoreSuccess'
        - $ref: '#/components/schemas/Failure'
    ScoreProcessing:
      type: string
      enum: [Processing]
      description: score (processing)
    ScoreSuccess:
      type: object
      properties:
        Success:
          type: number
          description: score
      required:
        - Success
      description: score (success)

    SubmissionRequest:
      type: object
      properties:
        problem_id:
          type: integer
          description: problem id
        contents:
          type: string
          description: submission contents
      required:
        - problem_id
        - contents
      description: content and problem id

    SubmissionsResponse:
      oneOf:
        - $ref: '#/components/schemas/SubmissionsResponseSuccess'
        - $ref: '#/components/schemas/Failure'
      description: submission response
    SubmissionsResponseSuccess:
      type: object
      properties:
        Success:
          $ref: '#/components/schemas/Submissions'
          description: submissions
      required:
        - Success
      description: submissions response (success)
    Submissions:
      type: array
      items:
        $ref: '#/components/schemas/Submission'
      description: submissions

    ProblemResponse:
      oneOf:
        - $ref: '#/components/schemas/ProblemResponseSuccess'
        - $ref: '#/components/schemas/Failure'
      description: problem response
    ProblemResponseSuccess:
      type: object
      properties:
        Success:
          type: string
          description: problem definition
      required:
        - Success
      description: problem definition

    ProblemsResponse:
      type: object
      properties:
        number_of_problems:
          type: number
          description: number of problems
      required:
        - number_of_problems
      description: number of problems

    Scoreboard:
      type: object
      properties:
        frozen:
          type: boolean
          description: Frozen means scoreboard is frozen at the last updated point, so you are seeing the snapshot from that moment.
        scoreboard:
          type: array
          items:
            $ref: '#/components/schemas/ScoreboardItem'
          description: sorted by scores
        updated_at:
          type: string
          description: date
      required:
        - frozen
        - scoreboard
        - updated_at
      description: global score board
    ScoreboardItem:
      type: object
      properties:
        username:
          type: string
          description: user name
        score:
          type: number
          description: score
      required:
        - username
        - score
      description: username and score

    UserboardResponse:
      oneOf:
        - $ref: '#/components/schemas/UserboardResponseSuccess'
        - $ref: '#/components/schemas/Failure'
      description: userboard response
    UserboardResponseSuccess:
      type: object
      properties:
        problems:
          type: array
          items:
            type: number
            nullable: true
          description: the highest score for each problem
      required:
        - problems
      description: userboard response (success)

    JWTResponse:
      type: object
      properties:
        Success:
          type: string
          description: your JWT access token
      required:
        - Success
      description: your JWT access token

    RegisterRequest:
      type: object
      properties:
        username:
          type: string
          description: username
        email:
          type: string
          description: must be a valid email
        password:
          type: string
          description: password
      required:
        - username
        - email
        - password
      description: register request
    RegisterResponse:
      oneOf:
        - $ref: '#/components/schemas/JWTResponse'
        - $ref: '#/components/schemas/Failure'
      description: register response

    LoginRequest:
      type: object
      properties:
        username_or_email:
          type: string
          description: username or email
        password:
          type: string
          description: password
      required:
        - username_or_email
        - password
      description: login request
    LoginResponse:
      oneOf:
        - $ref: '#/components/schemas/JWTResponse'
        - $ref: '#/components/schemas/Failure'
      description: login response
